body {
    margin: 0px;
    padding: 0px;
    background: #BA5370;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F4E2D8, #BA5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
    /* display: flex; */
    /* align-items: center; */
    /* background-color: black; */

}

.header {
    width: 100%;
    max-height: 100px;
}
.main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.first {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    width: 70%;
    height: 50vh;
    border: 1px solid   black;
    border-radius: 15px;
    background-color: brown;
}

.dd {
    padding: 15px;
    width: 20%;
    margin-top: 7%;
    border-radius: 15px;
    background-color: rgb(141, 33, 33);;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 10px;
    cursor: pointer;
}

.aside {
    width: 30%;
    height: 100vh;
    /* background-color: black; */
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(141, 33, 33);
    overflow: hidden;
    overflow: scroll;
    display: inline-block;
    animation: rotate 1s linear infinite;
}

.items {
    padding: 10px;
    background-color: brown;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    
    animation: rotate 1s linear infinite;
}